<a href="https://colab.research.google.com/github/Keesarirajashekhar/python-assignment.ipynb/blob/main/loops_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#print numbers from 1 to 5 using a while loop.
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [5]:
#calculate the sum of numbers from 1 to 10 using a while loop
i=1
sum=0
while(i<=10):
  sum=sum+i
  i=i+1
print(sum)

55

In [10]:
#calculate the factorial of a number using a for loop.
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

120

In [12]:
#Count the number of vowels in a string using a for loop.
list="apple"
Vowel = "aeiou"
count_vowel=0
for i in list:
  for j in Vowel:
    if(j==i):
        count_vowel=count_vowel+1
print(count_vowel)

2

In [15]:
#print a pattern using nested loops.
for i in range(4):
  for j in range(i):
      print("*",end="")
  print("\n")

*

**

***

In [16]:
#Generate a multiplication table using nested loop.
value=5
for i in range(1,11):
    print(value,"*",i,"=",value*i)
print("\n")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50