<a href="https://colab.research.google.com/github/Keesarirajashekhar/Type-conversion.ipynb/blob/main/type_conversion%20assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#convert an integer to a floating_point number.
x=5
y=float(x)
print(y)

5.0

In [4]:
#convert a float to an integer.
x=5.00
y=int(x)
print(y)

5

In [5]:
#convert an integer to a string.
x=5
y=str(x)
print(y)

5

In [6]:
#convert a list to a tuple.
list1=[1,2,3,4]
y=tuple(list1)
print(y)

(1, 2, 3, 4)

In [7]:
#convert a tuple to  a list.
tuple=(1,2,3,4)
list1=list(tuple)
print(list1)

[1, 2, 3, 4]

In [8]:
#convert a decimal number to binary.
x=5
y=bin(x)
print(y)

0b101

In [9]:
#Convert a non-zero number to boolean.
x=10
y=bool(x)
print(y)

True